.App {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
}

.App-logo {
  max-width: 100px;
}

.App-header {
  color: white;
  margin: 30px;
}

.App footer {
  text-align: center;
  margin-top: 10px;
}

.App form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgb(215, 210, 210);
}
